In [1]:
import ecmwf.data as ecdata

In [2]:
fs = ecdata.read("../tests/tuv_pl.grib")
# alternatively: fs = ecdata.Fieldset(path="../tests/tuv_pl.grib")
print(fs)

Fieldset (18 fields)

In [3]:
# high-level overview of the data
fs.describe()

In [4]:
# more detail for a specific parameter (using ecCodes' shortName or paramId)
fs.describe('t')

In [5]:
# complete list of fields
fs.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,gridType
Message,,,,,,,,,
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,regular_ll
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,regular_ll
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,regular_ll
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,regular_ll
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,regular_ll
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,regular_ll
6,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,regular_ll
7,ecmf,u,isobaricInhPa,700,20180801,1200,0,an,regular_ll
8,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,regular_ll
9,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,regular_ll
10,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,regular_ll
11,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,regular_ll
12,ecmf,t,isobaricInhPa,400,20180801,1200,0,an,regular_ll
13,ecmf,u,isobaricInhPa,400,20180801,1200,0,an,regular_ll
14,ecmf,v,isobaricInhPa,400,20180801,1200,0,an,regular_ll
15,ecmf,t,isobaricInhPa,300,20180801,1200,0,an,regular_ll
16,ecmf,u,isobaricInhPa,300,20180801,1200,0,an,regular_ll
17,ecmf,v,isobaricInhPa,300,20180801,1200,0,an,regular_ll

In [6]:
# the Fieldset is an iterable container, one field per GRIB message
len(fs)

18

In [7]:
# slicing
fs_slice = fs[8:12]
fs_slice.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,gridType
Message,,,,,,,,,
0,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,regular_ll
1,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,regular_ll
2,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,regular_ll
3,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,regular_ll

In [8]:
# data filtering using ecCodes keys
t = fs.select(shortName='t', level=[1000, 850])

In [9]:
# complete listing of all fields in the result
t.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,gridType
Message,,,,,,,,,
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,regular_ll
1,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,regular_ll

In [10]:
# min/max values across all fields
(len(t), t.minvalue(), t.maxvalue())

(2, 232.53916931152344, 320.5641784667969)

In [11]:
# Fieldset/number computation
t_in_c = t - 273.15
(len(t_in_c), t_in_c.minvalue(), t_in_c.maxvalue())

(2, -40.61083221435547, 47.41417694091797)

In [12]:
# Fieldset/Fieldset computation
t_diff = t[0] - t[1]
(len(t_diff), t_diff.minvalue(), t_diff.maxvalue())

(1, -16.025009155273438, 15.974990844726562)

In [13]:
# extract values as numpy array
diff_vals = t_diff.values()
diff_vals

array([-0.02500916, -0.02500916, -0.02500916, ..., -8.02500916,
       -8.02500916, -8.02500916])

In [14]:
# get GRIB keys via ecCodes
t.grib_get_long('level')

[850, 1000]

In [15]:
# mean field
t_mean = t.mean()
(len(t_mean), t_mean.minvalue(), t_mean.maxvalue())

(1, 236.55167388916016, 312.55167388916016)

In [16]:
# concatenate fields
ttv = t.merge(fs[11])
ttv.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,gridType
Message,,,,,,,,,
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,regular_ll
1,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,regular_ll
2,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,regular_ll

In [17]:
# or append to modify an existing Fieldest:
ttv.append(fs[7:9])
ttv.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,gridType
Message,,,,,,,,,
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,regular_ll
1,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,regular_ll
2,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,regular_ll
3,ecmf,u,isobaricInhPa,700,20180801,1200,0,an,regular_ll
4,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,regular_ll